**/.DS_Store
**/.tsbuildinfo

# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
**/node_modules

# Compiled code
/dist
src/actions/*.worker.js

oclif.manifest.json

tmp/**

# Documentation
/docs